 
.body {
    background-color: #fdf4f4; 
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: #6d6967; 
    padding: 20px ;
    color: white;
 
}

.h1 {
    margin: 0;
    color: #6d6967;
}

main {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #f8d9d9;
    border-radius: 10px;
    overflow: hidden;
}

.th {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
.td {
    border: 1px solid #ddd;
    padding: 25px;
    text-align: center;
}

.th {
    background-color: #6d6967;
    color: white;
}

.td {
    background-color: #fdf4f4;
}

.img {
    background-color: #fdf4f4;
    width: 150px;
    height: auto;
    margin: 0 auto;
   
}

.button {
    background-color: #6d6967;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5a5a5a;
}

.footer {
    background-color: #6d6967; 
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.navbar {
    background-color: #6d6967; 
    display: flex;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

