body {
    background-color: #fdf4f4; 
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden; 
}

header {
    background-color: #6d6967; 
    overflow: hidden; 
}

.navbar {
    
    display: flex;
    padding: 10px;
}

.navbar ul {
   
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden; 
}

.navbar li {
    display: flex;
    margin: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar {
    color: #f8b8b8; 
}

.main {
    text-align: center;
    padding: 20px;
}




.img2 {
    margin-top: 50px; 
    width: 150px; 
    height: auto;
    margin-right: 20px; 
}

h1 {
    font-size: 2.5em;
    color: #6d6967;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    color: #6d6967;
    margin-bottom: 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #6d6967;
    margin-bottom: 20px;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px; 
}

.staff-member {
    background-color: #f8d9d9; 
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 200px;
    overflow: hidden; 
}

.staff-photo {
    border-radius: 50%; 
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.footer {
    background-color: #6d6967; 
    padding: 20px;
    width: 100%;
}

.footer p {
    color: white;
    text-align: center;
}

.content23 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px; 
}
