

.body {
    background-color: #fdf4f4;  
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  
}


header {
    background-color: #6d6967; 
    color: white;
    padding: 10px;
}


main {
    padding: 20px;
    margin-bottom: 60px; 
}


.carousel {
    max-width: 600px; 
    margin: 0 auto; 
    position: relative; 
}

.carousel-inner img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
}

.card-content {
    margin-top: 60px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 60px; 
}

.card {
    background-color: white;
    border: 1px solid #f8d9d9;
    border-radius: 8px;
    overflow: hidden;
    width: 250px; 
    
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

.card:hover {
    transform: scale(1.05); 
}

.card-img {
    width: 100%;
    height: 180px; 
    object-fit: cover; 
}

.card-body {
    padding: 15px;
    background-color: #f8d9d9 ;
}

.card-title {
    font-size: 1.25rem;
    margin: 0;
}

.card-description {
    color: #6d6967; 
    font-weight: bold;
}

.footer {
    background-color: #6d6967; 
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position:static;
    bottom: 0; 
}

.navbar {
    padding: 10px;
    display: flex;
  
}

.navbar ul {
 
    display: flex;
   
}

.navbar li {
    margin: 10px;

}

.navbar a {
 
    color: white;
    text-decoration:none;
    font-weight: bold;
    transition: color 0.3s;
    
}

.h2{
    text-align: center;
    margin: 40px;
}